.car_control_function{
    width: 1000px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 0px;
    right: 0px;
}
.control_function_introduce{
    width: 350px;
    height: 350px;
    background-color: black;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 0px;
    font-size: 15px;
    line-height: 1.5;
}
.intdroduce_title{
    font-size: 40px;
    font-weight: 700px  ;
    background-color: rgb(199, 40, 40);
    text-align: center;
    padding:25px 0px  ;
}
.intdroduce_text{
    padding: 20px 30px;
}
.intdroduce_text h3{
    font-size: 25px;
    font-weight: 700;
}
.intdroduce_text p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.589);
}
.car_picture{
    width: 690px;
    position: relative;
    z-index: 1;
    left: 175px;
    top: 110px;
}
.car_picture img{
    width: 100%;
}
.background_decorate{
    width: 350px;
    height: 350px;
    background-color: rgba(243, 241, 241, 0.822);
    position: relative;
    top: -400px;
    left: 600px;
}
.intdroduce_details{
    width: 670px;
    height: 240px;
    background-color: rgb(233, 231, 231);
    position: absolute;
    z-index: 2;
    top: 450px;
    left: 50px;
    padding: 20px;
    font-size: 15px;
    line-height: 1.1;
}
.intdroduce_details span{
    color: rgb(214, 14, 14);
    font-size: 18px;
    font-weight: 700;
}
.intdroduce_details ul{
    padding-top: 10px;
}
.intdroduce_details li{
    margin-bottom: 10px;
}
.intdroduce_details h3{
    display: inline-block;
    padding: 5px      ;
    font-size: 15px;
    background-color: black;
    color: #fff;
}
.intdroduce_details p{
    margin-top: 10px;
}
.function_youtobe_mark{
    width: 60px;
    position: relative;
    left: 500px;
    top: -40px;
    z-index: 2;
}
.car_safety{
    width: 1000px;
    position: absolute;
    top: 850px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.demonstration_action_picture{
    width: 690px;
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 10px;
}
.demonstration_action_picture img{
    width: 100%;
}
.safety_youtobe_mark{
    width: 60px;
    position: relative;
    z-index: 2;
    top: 370px;
}
.safety_introduce{
    width: 350px;
    background-color: black;
    color: #fff;
    position: relative;
    z-index: 2;
    left: 500px;
    line-height: 1.5;
    font-size: 15px;
}
.safety_introduce_title{    
    height: 60px;
    background-color: rgb(199, 40, 40);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 35px 0px 35px 10px ;
}
.safety_introduce_text{
    padding: 20px 30px;
}
.safety_introduce_text h3{
    font-size: 25px;
    font-weight: 700;
}
.safety_introduce_text p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.589);
}
.safety_background_decorate{
    width: 510px;
    height: 410px;
    background-color: rgba(243, 241, 241, 0.822);
    position: relative;
    z-index: 0;
    top: 50px;
    right: 160px;
}
.safety_details{
    width: 570px;
    height: 600px;
    height: 150px;
    padding: 20px;
    position: relative;
    z-index: 2;
    left: 300px;
    top: 120px;
    background-color: rgb(233, 231, 231);
}
.safety_details span{
    color: rgb(214, 14, 14);
    font-size: 18px;
    font-weight: 700;
}
.safety_details ul{
    padding-top: 10px;
}
.safety_details li{
    margin-bottom: 10px;
}
.safety_details h3{
    display: inline-block;
    padding: 5px      ;
    font-size: 15px;
    background-color: black;
    color: #fff;
}
.safety_details p{
    margin-top: 10px;
}
.comfortable_space{
    width: 1000px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 1600px;
    left: 0px;
    right: 0px;
}
.comfortable_space_introduce{
    width: 350px;
    height: 350px;
    background-color: black;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 0px;
    font-size: 15px;
    line-height: 1.5;
}
.comfortable_space_title{
    font-size: 40px;
    font-weight: 700px  ;
    background-color: rgb(199, 40, 40);
    text-align: center;
    padding:25px 0px  ;
}
.comfortable_space_text{
    padding: 20px 30px;
}
.comfortable_space h3{
    font-size: 25px;
    font-weight: 700;
}
.comfortable_space p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.589);
}
.enjoy_picture{
    width: 690px;
    position: relative;
    z-index: 1;
    left: 175px;
    top: 110px;
}
.enjoy_picture img{
    width: 100%;
}
.comfortable_space_background_decorate{
    width: 350px;
    height: 350px;
    background-color: rgba(243, 241, 241, 0.822);
    position: relative;
    top: -400px;
    left: 600px;
}
.comfortable_space_details{
    width: 670px;
    height: 300px;
    background-color: rgb(233, 231, 231);
    position: absolute;
    z-index: 2;
    top: 450px;
    left: 50px;
    padding: 20px;
    font-size: 15px;
    line-height: 1.1;
}
.comfortable_space_details span{
    color: rgb(214, 14, 14);
    font-size: 18px;
    font-weight: 700;
}
.comfortable_space_details ul{
    padding-top: 10px;
}
.comfortable_space_details li{
    margin-bottom: 10px;
}
.comfortable_space_details h3{
    display: inline-block;
    padding: 5px      ;
    font-size: 15px;
    background-color: black;
    color: #fff;
}
.comfortable_space_details p{
    margin-top: 10px;
    color: #000;
}
.comfortable_space_youtobe_mark{
    width: 60px;
    position: relative;
    left: 500px;
    top: -40px;
    z-index: 2;
}
.humanized_design{
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 2500px;
    left: 0px;
    right: 0px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.panel_picture{
    width: 690px;
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 10px;
}
.panel_picture img{
    width: 100%;
}
.humanized_design_youtobe_mark{
    width: 60px;
    position: relative;
    z-index: 2;
    top: 370px;
}
.humanized_design_introduce{
    width: 350px;
    background-color: black;
    color: #fff;
    position: relative;
    z-index: 2;
    left: 500px;
    line-height: 1.5;
    font-size: 15px;
}
.humanized_design_title{    
    height: 60px;
    background-color: rgb(199, 40, 40);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 35px 0px 35px 10px ;
}
.humanized_design_text{
    padding: 20px 30px;
}
.humanized_design_text h3{
    font-size: 25px;
    font-weight: 700;
}
.humanized_design_text p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.589);
}
.humanized_design_background_decorate{
    width: 510px;
    height: 410px;
    background-color: rgba(243, 241, 241, 0.822);
    position: relative;
    z-index: 0;
    top: 50px;
    right: 160px;
}
.humanized_design_details{
    width: 570px;
    height: 600px;
    height: 150px;
    padding: 20px;
    position: relative;
    z-index: 2;
    left: 300px;
    top: 120px;
    background-color: rgb(233, 231, 231);
}
.humanized_design_details span{
    color: rgb(214, 14, 14);
    font-size: 18px;
    font-weight: 700;
}
.humanized_design_details ul{
    padding-top: 10px;
}
.humanized_design_details li{
    margin-bottom: 10px;
}
.humanized_design_details h3{
    display: inline-block;
    padding: 5px      ;
    font-size: 15px;
    background-color: black;
    color: #fff;
}
.humanized_design_details p{
    margin-top: 10px;
}
.special_dsign{
    width: 1000px;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 3300px;
    left: 0px;
    right: 0px;
}
.control_function_introduce{
    width: 350px;
    height: 350px;
    background-color: black;
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 0px;
    font-size: 15px;
    line-height: 1.5;
}
.intdroduce_title{
    font-size: 40px;
    font-weight: 700px  ;
    background-color: rgb(199, 40, 40);
    text-align: center;
    padding:25px 0px  ;
}
.intdroduce_text{
    padding: 20px 30px;
}
.intdroduce_text h3{
    font-size: 25px;
    font-weight: 700;
}
.intdroduce_text p{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.589);
}
.car_picture{
    width: 690px;
    position: relative;
    z-index: 1;
    left: 175px;
    top: 110px;
}
.car_picture img{
    width: 100%;
}
.background_decorate{
    width: 350px;
    height: 350px;
    background-color: rgba(243, 241, 241, 0.822);
    position: relative;
    top: -400px;
    left: 600px;
}
.intdroduce_details{
    width: 670px;
    height: 240px;
    background-color: rgb(233, 231, 231);
    position: absolute;
    z-index: 2;
    top: 450px;
    left: 50px;
    padding: 20px;
    font-size: 15px;
    line-height: 1.1;
}
.intdroduce_details span{
    color: rgb(214, 14, 14);
    font-size: 18px;
    font-weight: 700;
}
.intdroduce_details ul{
    padding-top: 10px;
}
.intdroduce_details li{
    margin-bottom: 10px;
}
.intdroduce_details h3{
    display: inline-block;
    padding: 5px      ;
    font-size: 15px;
    background-color: black;
    color: #fff;
}
.intdroduce_details p{
    margin-top: 10px;
}
.function_youtobe_mark{
    width: 60px;
    position: relative;
    left: 500px;
    top: -40px;
    z-index: 2;
}