.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    z-index: 2;
    /* padding: 0px 6.25%; */
}
.header-top{

    background-color: #00142d;
}
.header-top a{
    text-decoration: none;
    color: #fff;
}
.hb{
    display: flex;
    align-items: center;
}
.header-top a:hover{
    color: #0061ff;
}
.max-main-header{
    display: flex;
    padding: 20px 6.25% ;
}
.logo{
    text-indent: 101%;
    overflow: hidden;
}
.main-custom-service{
    display: flex;
}
.main-nav a{
    text-decoration: none;
    color: #00142d;
}
.btn-login{
    display: none;
}
.btn-free{
    border-radius: 50px;
    color: #fff;
    background-color: #0061ff;
    width: 90px;
    aspect-ratio: 90/35;
    border: 0px;
}
.main-nav a:hover{
    color: #0061ff;
}
.btn-free:hover{
    background-color: #0858d8;
    color: rgb(239, 237, 237);
}
.only-cell-phone{
    display: none;
}
#menu-control{
    display: none;
}
#menu-control:checked ~ .header .main-custom-service
{
    transform: none;
}
#open-shop-data-control{
    display: none;
    position: absolute;
}
.open-shop-data{
    display: none;
}
.program-fee{
    display: none;
}
.more-program-data{
    display: none;
}
.other-resource-data{
    display: none;
}
.main-nav li p:hover{
    color: #0061ff;
}
.web-sample-introduce{
    margin: auto;
    padding: 50px 6.25%;
    display: flex;
    flex-wrap: wrap;
    background-color: #00142d;
    color: #fff;
}
.sample-introduce-test{
    line-height: 1.5;
    font-weight: 700;
    padding-top: 35px;
}
.sample-advertise span{
    color: #21ca54;
}
.sample-btn input{
    background-color: #00142d;
    color: #fff;
    border: 0px;
    border-bottom: 1px solid #fff;  
}
.sample-btn button{
    color: #fff;
    background-color: #0061ff;
    border-radius: 50px;
    border: 0px;
}
.sample-btn button:hover{
    background-color: #0747a6;
}
.web-sample-introduce img{
    width: 100%;
}
.function-sample{
    padding: 50px 6.25% 0 6.25%;
    line-height: 1.5;
}
.function-sample h2{
    font-weight: 700;
    text-align: center;
}
.main-box{
    padding: 0px 6.25%;
    line-height: 1.5;
}
.main-pic img{
    width: 100%;
}
.main-test{
    border-bottom: 1px solid black;
}
.main-test h3{
    font-weight: 700;
}
.main-test ul{
    display: flex;
    flex-wrap: wrap;
}
.main-test span{
    background-color: #DEEBFF;
    border-radius: 100%;
}
.main-test li i{
    color: #0061ff;
}
.main-test ul li{
    width: 50%;
}
.main-test a{
    display: inline-block;
    text-decoration: none;
    color: #0061ff;
}
.additional-service{
    background-color: #f4f5f7;
    padding: 65px 3.125% 80px 3.125%;
}
.additional-service h2{
    font-weight: 700;
    text-align: center;
    font-size: 35px;   
    padding: 0 6.25%;
}
.additional-service ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 1.5;
    margin-top: 60px;
}
.list-picture{
    width: 100px;
    aspect-ratio: 1/1;
    background-color: #fff;
    border-radius: 100%;
    margin: auto;
}
.list-picture img{
    width: 70%;
    padding: 15px 0px 0px 15px ;
}
.additional-service h3{
    font-weight: 500;
    padding-top: 30px;
}
.additional-service p{
    padding-top: 15px;
    text-align: justify;
}
.case-introduce{
    padding: 100px 6.25% 0 6.25%;
    line-height: 1.5;
}
.case-title{
    text-align: center;
}
.case-introduce p{
    font-weight: 700;
    font-size: 35px;
}
.case-introduce span{
    color: #0061ff;
    font-size: 35px;
}
.case-picture{
    display: flex;
    flex-wrap: wrap;
}
.case-picture img{
    width: 60%;
    margin: auto;
}
.case-data{
    display: flex;
    flex-wrap: wrap;
}
.case-data-test{
    width: 40%;
}
.case-data-test a{
    text-decoration: none;
    display: inline-block;
    color: #0061ff;
    font-size: 17px;
}
.case-data-test p{
    color: #324255;
    font-size: 17px;
}
.case-data-test span{
    color: #324255;
    font-size: 17px;
}
.case-data-picture{
    width: 60%;
}
.case-data-picture img{
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
}
.worldwide-ad{
    background-color: #00142d;
    margin-top: 50px;
    background-image: url(https://img.shoplineapp.com/media/image_clips/609d0f5c33fdc6001aa95da6/original.png?1620905820);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}
.worldwide{
    padding: 0px 6.25%;
    color: #fff;
    font-size: 35px;
    line-height: 2;
}
.worldwide-btn{
    aspect-ratio: 355/41;
    background-color: #0061ff;
    color: #fff;
    border-radius: 50px;
    border: 0px;
}
.worldwide-btn:hover{
    background-color: #0747a6;
}
.severse_all_list{
    padding: 50px 6.25% 20px 6.25%;
    background-color: #00142d;
    color: #f4f5f7;
}
.severse_all_list a{
    text-decoration: none;
    display: inline-block;
    color: #748094;
}
.severse_all_list ul{
    display: none;
}
.list-title h4{
    font-size: 17px;
}
input{
    display: none;
}
#list-control-shoppline:checked ~ .severse_all_list 
.control-shoppline{
    display: block;
}
#list-control-open-shop:checked ~ .severse_all_list 
.control-open-shop{
    display: block;
}
#list-control-fuction:checked ~ .severse_all_list 
.control-fuction{
    display: block;
}
#list-control-resource:checked ~ .severse_all_list 
.control-resource{
    display: block;
}
#list-control-way:checked ~ .severse_all_list 
.control-way{
    display: block;
}
#list-control-else-fuction:checked ~ .severse_all_list 
.control-else-fuction{
    display: block;
}
#list-control-actual:checked ~ .severse_all_list 
.control-actual{
    display: block;
}
.severse_alone_list ul a:hover{
    color: #fff;
}
.covid19{
    background-color: #d8f8ed;
}
.covid19 a{
    color: #00142D;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    background-color: #d8f8ed;
}
.footer_end{
    background-color: #00142d;
    color: #fff;
    padding: 0px 6.25%;
}
.need-re{
    display: flex;
}
.terms{
    margin: auto;
}
.terms a{
    text-decoration: none;
    color: #fff;
}
.icon{
    margin: auto;
}
.icon li{
    width: 8.47%;
    aspect-ratio: 1/1;
}
.icon i{
    font-size: 30px;
    background-color: #00142d;
    border-radius: 100%;
    color: #f6f7f8;
}
.icon :hover{
    color: #0061ff;
}
.terms ul li a{
    text-decoration: none;
    display: inline-block;
    color: rgb(175, 175, 175);
}
.terms a:hover{
    color: #fff;
}
/* RWD */
@media screen and (max-width:991.9px) {
    .header-top{
        display: none;
    }
    .logo{
        width: 130px;
    }
    .logo img{
        width: 100%;
    }
    .max-main-header{
        justify-content: space-between;
        padding: 15px 6.25%;
    }
    .main-custom-service{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 100%;
        right: 0%;
        background-color: rgb(249, 249, 249);
        display:block;
        transform: translateX(100%);
        transition: .5s;
        overflow-y: scroll  ;
    }
    .main-nav ul{
        padding: 60px 0;
    }
    .main-nav ul li{
        border-bottom: 1px solid black;
        margin: 0 5%;
        padding: 20px 0px 20px 0px;
    }
    #open-shop-data-control:checked ~ .header .open-shop-data{
        display: block;
    }
    /* #open-shop-data-control:checked ~ .header .enter-open{
        background-color: #659bf3;
    }
    .enter-open{
        padding: 10px 0px  ;
    } */
    .open-shop-data{
        display: none;
        z-index: 3;
        position: flex;
        background-color: rgb(249, 249, 249);;
        top: 10%;
        line-height: 1.5;
    }
    .open-shop-data-title{
        display: none;
    }
    .open-shop-data a{
        display: block;
    }
    .open-shop-data-contain ul{
        padding: 0px;
    }
    .open-shop-data-contain ul li{
        border: 0px;
    }
    .open-shop-data-contain ul li p{
        border-bottom: 1px ;
    }
    #program-fee-control:checked ~ .header .program-fee{
        display: block;
    }
    #more-program-control:checked ~ .header .more-program-data{
        display: block;
    }
    #other-resource:checked ~ .header .other-resource-data{
        display: block;
    }
    .main-btn{
        padding: 30px 0px 70px 0px;
        text-align: center;
        margin-bottom: 60px;
    }
    .btn-free{
        width: 90%;
        aspect-ratio:700/60;
        margin-bottom: 25px;
        border-radius: 50px;
        background-color: #0747a6;
        color: #fff;
    }
    .btn-login{
        width: 90%;
        aspect-ratio:700/60;
        display:inline-block;
        border-radius: 50px;
        background-color: #fff;
        color: #0747a6;
    }
    .only-cell-phone{
        display: flex;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #00142d;
        padding: 15px 0px ;
    }
    .only-cell-phone a{
        text-decoration: none;
        color: #fff;
        font-size: 15px;
    }
    .hb{
        width: 15px;
    }
    .max-width{
        max-width: 1400px;
    }
}
/* RWD第二版 */
@media screen and (min-width:992px) {
    .langue{
        padding-right: 10px;
    }
    .custom-service{
        display: flex;
    }
    .custom-service a{
        margin: 0px 10px;
        display: inline-block;
        font-size: 15px;
    }
    .logo{
        width: 16%;
    }
    .logo img{
        width: 100%;
        max-width: 170px; ;
    }
    .main-custom-service{
        width: 84%;
        display: flex;
        justify-content: space-between;
    }
    .main-nav ul{
        display: flex;
    }   
    .main-nav ul li{
        padding: 25px 7px 0px;
    }
    .hb{
        display: none;
    }

    #open-shop-data-control:hover ~ .header .open-shop-data{
        display: block;
    }
    #open-shop-data-control:link ~ .header .open-shop-data{
        display: block;
    }
    #program-fee-control:hover ~ .header .program-fee{
        display: block;
    }
    #more-program-control:hover ~ .header .more-program-data{
        display: block;
    }
    #other-resource:hover ~ .header .other-resource-data{
        display: block;
    }
    .open-shop-data{
        width: 46%;
        position: absolute;
        background-color: #fff;
        top: 100%;
        padding: 10px 20px;
    }
    .open-shop-data-title{
        border-bottom: 1px solid rgb(197, 196, 196);
    }
    .open-shop-date span{
        font-size: 20px;
    }
    .open-shop-data p{
        padding-top: 20px;
        padding-bottom: 20px;
        width: 75%;
    }
    .open-shop-data-contain li{
        width: 33%;
    }
    .open-shop-data-contain p{
        border-bottom: 1px solid rgb(197, 196, 196);
    }
    .open-shop-data-contain li a{
        display:block;
        line-height: 2;
    }
    .program-fee{
        position: absolute;
        background-color: #fff;
        top: 100%;
        padding: 10px 20px;
    }

    .more-program-data{
        position: absolute;
        background-color: #fff;
        top: 100%;
        padding: 10px 20px;
    }

    .other-resource-data{
        position: absolute;
        background-color: #fff;
        top: 100%;
        padding: 10px 20px;
    }



}

/* 切版 */
@media screen and (max-width:767px) {
    .web-sample-introduce{
        flex-direction: column-reverse;
        margin-top: 40px;
    }
    .sample-advertise {
        font-size: 30px;
        text-align: center;
    }
    .sample-btn{
        padding-top: 20px;
    }
    .sample-btn input{
        width: 100%;
        padding-bottom: 10px;
    }
    .sample-btn button{
        margin-top: 15px;
        width: 100%;
        aspect-ratio: 380/45;
    }
    .function-sample h2{
        font-size: 30px;
    }
    .function-sample p{
        margin-top: 25px;
        font-size: 18px;
        text-indent: 15px;
    }
    .main-box{
        margin-top: 30px;
    }
    .main-pic img{
        width: 100%;
    }
    .main-test h3{
        font-size: 30px;
        padding-bottom: 60px;
    }
    .main-test{
        text-align: justify;
        font-size: 17px;
        margin-top: 20px;
    }
    .main-test ul{
        margin-top: 20px;
        display: block;
    }
    .main-test ul li{
        margin-bottom: 10px;
        width: 100%;
    }
    .main-test a{
        margin: 40px 0px;
    }
    .additional-service h2{
        font-size: 30px;
    }
    .additional-service li{
        width: 50%;
        padding: 0px 10px 60px 10px ;
        box-sizing: border-box;
    }
    .additional-service h3{
        font-size: 18px;
    }
    .additional-service p{
        font-size: 15px;
    }
    #radoi-commodity:checked  ~ .case-introduce
    .case-data-a1 ,
    #radoi-commodity2:checked ~ .case-introduce 
    .case-data-a2 , 
    #radoi-commodity3:checked ~ .case-introduce
    .case-data-a3,
    #radoi-commodity4:checked ~ .case-introduce
    .case-data-a4 ,
    #radoi-commodity5:checked ~ .case-introduce 
    .case-data-a5 { 
        /* transform: none; */
        display: flex;
    }
    .case-introduce{
        padding-top: 40px;
    }
    .case-title{
        margin-bottom: 40px;
        text-align: left;
    }
    .case-introduce-picture{
        display: none;
    }
    .case-picture{
        display: none;
    }
    .case-data-a1,
    .case-data-a2,
    .case-data-a3,
    .case-data-a4,
    .case-data-a5{
        /* transform: translateX(100%);
        transition: .5s; */
        display: none;
        flex-direction: column-reverse;
        margin-top: 30px;
        line-height: 1.5;
    }
    .case-data-test{
        width: 100%;
    }
    .case-data-test a{
        padding: 10px 0px ;
    }
    .case-data-test p{
        padding: 10px 0px;
    }
    .case-data-picture{
        width: 100%;
        
    }
    .label-list{
        width: 100%;
        height: 100px;
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
    }
    .label-list label{
        width: 10px;
        height: 10px;
        background-color: rgb(199, 197, 197);
        display: inline-block;
        border-radius: 100% ;
    }
    .label-list label:hover{
        background-color: #0061ff;
    }
    #radoi-commodity:checked ~ .case-introduce .label-list label:nth-child(1),
    #radoi-commodity2:checked ~ .case-introduce .label-list label:nth-child(2),
    #radoi-commodity3:checked ~ .case-introduce .label-list label:nth-child(3),
    #radoi-commodity4:checked ~ .case-introduce .label-list label:nth-child(4),
    #radoi-commodity5:checked ~ .case-introduce .label-list label:nth-child(5)
    {
        background-color: #0061ff;
    }
    .worldwide-ad{
        aspect-ratio: 425/626;
    }
    .worldwide{
        padding-top:80px ;
        line-height: 60px;
    }
    .worldwide-btn{
        margin-top: 40px;
        width: 87.5%;
        aspect-ratio: 360/46.2;
    }
    .severse_alone_list h4{
        font-size: 17px;
        font-weight: 600;
        padding: 20px 0px;
    }
    .list-title{
        margin-bottom: 40px;
        border-bottom: 1px solid #fff;
    }
    .severse_all_list ul{
        display: none;
        line-height: 40px;
    }
    .severse_alone_list{
        margin-bottom: 20px;
    }
    .severse_alone_list li{
        padding-left: 40px;
    }
    .severse_all_list ul a{
        color: #c0c2c5;
    }
    .control-else-fuction li{
        padding-left: 40px;
    }
    .control-else-fuction a{
        display: block;
    }
    .control-actual a{
        display: block;
    }
    .covid19{
        width:52.941176% ;
        aspect-ratio: 225/36;
        margin: auto;
    }
    .covid19 a{
        display: inline-block;
        padding: 10px 0px 10px 35px ;
        box-sizing: border-box;
    }
    .need-re{
        flex-direction: column-reverse;
    }
    .terms{
        line-height: 40px;
        text-align: center;
    }
    .icon{
        width: 100%;
        margin-bottom: 40px;
    }
    .icon ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .icon a{
        display: inline-block;
    }
    .severse_times{
        text-align: center;
        padding-bottom: 50px;
    }
}
@media screen and (min-width:768px)  { 
    .sample-advertise {
        font-size: 35px;
    }
    .sample-introduce-test p{
        padding-top: 20px;
        line-height: 2;
    }
    .sample-btn input{
        width: 50%;
    }
    .sample-btn button{
        width: 125px;
        aspect-ratio: 125/40;
        margin: 20px 0px 40px 0px ;
    }
    .function-sample h2{
        font-size: 30px;
    }
    .function-sample p{
        margin-top: 25px;
        font-size: 17px;
        text-align: center;
    }
    .main-box{
        margin-top: 30px;
    }
    .main-test h3{
        font-size: 30px;
        padding-bottom: 60px;
    }
    .main-test{ 
        text-align: justify;
        font-size: 17px;
        margin-top: 20px;
    }
    .main-test ul{
        margin-top: 40px;
    }
    .main-test li{
        margin-bottom: 10px;
    }
    .main-test a{
        margin: 40px 0px 80px 0px ;
    }
    .additional-service h2{
        padding: 0 6.25%;
    }
    .additional-service ul{
        padding: 0px 6.25%;
    }
    .additional-service li{
        width: 33%; 
    }
    .list-picture{
        width: 110px;
    }
    .list-picture img{
        width: 70%;
        padding: 15px 0px 0px 10px ;
    }
    .additional-service li{
        padding-bottom: 30px;
    }
    .additional-service li h3{
        font-size: 20px;
        padding: 30px 10px 0px 10px ;
    }
    .additional-service p{
        font-size: 15px;
        padding: 15px 10px 0px 10px;
    }
    #radoi-commodity:checked  ~ .case-introduce
    .case-data-a1 ,
    #radoi-commodity2:checked ~ .case-introduce 
    .case-data-a2 , 
    #radoi-commodity3:checked ~ .case-introduce
    .case-data-a3,
    #radoi-commodity4:checked ~ .case-introduce
    .case-data-a4 ,
    #radoi-commodity5:checked ~ .case-introduce 
    .case-data-a5 {
        display: flex;
    }
    .case-introduce{
        padding-top: 40px;
    }
    .case-title{
        margin-bottom: 40px;
        text-align: left;
    }
    .case-introduce-picture{
        display: none;
    }
    .case-data-a1,
    .case-data-a2,
    .case-data-a3,
    .case-data-a4,
    .case-data-a5{
        display: none;
        flex-direction: column-reverse;
        margin-top: 30px;
        line-height: 1.5;
    }
    .case-picture{
        display: none;
    }
    .case-data-test{
        width: 100%;
    }
    .case-data-test a{
        padding: 10px 0px ;
    }
    .case-data-test p{
        padding: 10px 0px;
    }
    .case-data-picture{
        width: 100%;
        margin-top: 30px;
    }
    .label-list{
        width: 100%;
        height: 100px;
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
    }
    .label-list label{
        width: 10px;
        height: 10px;
        background-color: rgb(199, 197, 197);
        display: inline-block;
        border-radius: 100% ;
    }
    .label-list label:hover{
        background-color: #0061ff;
    }
    #radoi-commodity:checked ~ .case-introduce .label-list label:nth-child(1),
    #radoi-commodity2:checked ~ .case-introduce .label-list label:nth-child(2),
    #radoi-commodity3:checked ~ .case-introduce .label-list label:nth-child(3),
    #radoi-commodity4:checked ~ .case-introduce .label-list label:nth-child(4),
    #radoi-commodity5:checked ~ .case-introduce .label-list label:nth-child(5)
    {
        background-color: #0061ff;
    }
    .worldwide{
        padding-top:20px ;
        line-height: 60px;
    }
    .worldwide p{
        width: 40%;
        font-size: 35px;
        font-weight: 700;
    }
    .worldwide-btn{
        margin: 40px 0px;
        width: 50%;
        aspect-ratio: 298/46.2;
    }
    .severse_alone_list h4{
        font-size: 17px;
        font-weight: 600;
        padding: 20px 0px;
    }
    .list-title{
        margin-bottom: 40px;
        border-bottom: 1px solid #fff;
    }
    .severse_all_list ul{
        display: none;
        line-height: 40px;
    }
    .severse_alone_list{
        margin-bottom: 20px;
    }
    .severse_alone_list li{
        padding-left: 40px;
    }
    .severse_all_list ul a{
        color: #c0c2c5;
    }
    .control-else-fuction li{
        padding-left: 40px;
    }
    .control-else-fuction a{
        display: block;
    }
    .control-actual a{
        display: block;
    }
    .covid19{
        width:30% ;
        aspect-ratio: 225/36;
    }
    .covid19 a{

        padding: 10px 0px 10px 35px ;
        box-sizing: border-box;
    }
    .need-re{
        flex-direction: column-reverse;
        width: 40%;
    }
    .terms{
        width: 100%;
        margin-left: 0;
    }
    .terms ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .terms ul li{
        width: 33%;
    }
    .icon{
        width: 100%;
        margin: 40px 0px;
    }
    .icon ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .icon a{
        display: inline-block;
    }
    .severse_times{
        width: 40%;
        text-align: left;
        padding: 20px 0px 100px 0px;
    }
}
@media screen and (min-width:992px) {
    .max-width{
        max-width: 1400px;
        margin: auto;
    }
    .max-header-top{
        width: 100%;
        padding: 10px 6.25%;
        box-sizing: border-box;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .web-sample-introduce{

        padding-top: 220px;
    }
    .max-web-sample-introduce{
        display: flex;
        flex-wrap: wrap;
        max-width: 1400px;
        margin: auto;
    }
    .sample-introduce-test{
        width: 50%;
        box-sizing: border-box;
    }
    .sample-advertise p{
        padding-top: 32px;
    }
    .sample-introduce-picture{
        width: 50%;
        box-sizing: border-box;
    }
    .sample-btn input{
        display: inline-block;
    }
    .function-sample{
        margin-top: 50px;
    }
    .function-sample h2{
        font-size: 35px;
    }
    .function-sample p {
        width: 50%;
        margin: auto;
    }
    .main-box{
        display: flex;
        flex-wrap: wrap;
        margin-top: 95px ;    
    }
    .main-contain :nth-child(even){
        flex-direction: row-reverse;
    }
    .main-pic{
        padding-top: 20px;
        width: 50%;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }
    .main-test{
        width: 50%;
    }
    .main-test h3{
        font-size: 35px;
    }
    .main-test p{
        font-size: 20px;
        line-height: 1.5;
    }
    .additional-service{
        padding: 0;
    }
    .additional-service h2{
        font-size: 35px;
    }
    .additional-service ul{
        padding: 0px 6.25%;
    }
    .additional-service li{
        width: 33%; 
    }
    .list-picture{
        width: 140px;
    }
    .list-picture img{
        width: 70%;
        padding: 20px 0px 0px 5px ;
    }
    .case-title{
        text-align: center;
    }
    .additional-service h3{
        font-size: 35px;
    }
    .additional-service p{
        padding: 15px 30px 0px 30px;
    }
    .label-list{
        display: none;
    }
    .case-picture{
        display: flex;
        flex-wrap: wrap;
    }
    .case-data-a1,
    .case-data-a2,
    .case-data-a3,
    .case-data-a4,
    .case-data-a5{
        flex-direction: row;
    }
    .case-data-test {
        width: 40%;
        padding-right: 20px;
        box-sizing: border-box;
        line-height: 1.5;
        position: relative;
        box-sizing: border-box;
    }
    .case-data-test p {
        padding-top: 35px;
    }
    .case-data-test span{
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .case-picture label{
        width: 20%;
        display: inline-block;
    }
    .case-picture label li{
        display: flex;
        align-items: center;
        padding: 20px 0px ;
    }
    .case-picture img{
        width: 50%;
    }
    .case-picture-small img{
        width: 30%;
    }
    .case-data-picture{
        width: 60%;
    }
    .case-data-picture  img{
        width: 100%;
    }
    .case-picture label:hover{
        border-bottom: 5px solid #0061ff;
    }
    #radoi-commodity:checked ~ .case-introduce 
    .case-picture label:nth-child(1),
    #radoi-commodity2:checked ~ .case-introduce 
    .case-picture label:nth-child(2),
    #radoi-commodity3:checked ~ .case-introduce 
    .case-picture label:nth-child(3),
    #radoi-commodity4:checked ~ .case-introduce 
    .case-picture label:nth-child(4),
    #radoi-commodity5:checked ~ .case-introduce 
    .case-picture label:nth-child(5)
    {
        border-bottom: 5px solid #0061ff;
    }
    .worldwide-ad{
        padding-top: 100px;
    }
    .worldwide-btn{
        width: 359px;
        margin-top: 50px;
        font-size: 17px;
    }
    .severse_all_list{
        display: block;
        background-color: #00142D;
        font-size: 15px;
        line-height: 1.5;
        color: #fff;
    }
    .max-severse_all_lisl{
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .severse_alone_list{
        width: 9%;
    }
    .severse_all_list :nth-child(1).severse_alone_list{
        width: 12%;
    }
    .severse_all_list :nth-child(5).severse_alone_list{
        width: 12%;
    }
    .severse_all_list :nth-child(6).severse_alone_list{
        width: 25%;
    }
    .severse_all_list :nth-child(7).severse_alone_list{
        width: 17%;
    }
    .list-title{
        border: 0px;
    }
    .severse_alone_list ul{
        margin-top: 30px;
        display: block;
    }
    .severse_alone_list li{
        padding: 0px;
    }
    .severse_alone_list ul a{
        color: #748094;
        text-decoration: none;
    }
    .covid19{
        width: 25%; 
        margin-left: 75%;
        aspect-ratio: 225/35.6;
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .covid19 a{
        padding: 0;
        font-size: 20px;
    }
    .footer_end{
        display: block;
        background-color: #00142D;
        color: #fff;
    }
    .max-footer_end{
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .need-re{
        width: 66%;
        flex-direction: row;
    }
    .terms{
        margin-top: 0;
    }
    .terms ul{
        display: flex;
        flex-wrap: wrap;
    }
    .terms ul li{
        width: 33%;
        list-style: none;
    }
    .icon{
        margin-top: 0;
    }
    .icon ul{
        display: flex;
        flex-wrap: wrap;
    }
    .icon ul li{
        width: 15%;
        justify-content: space-around;
        list-style: none;
    }
    .icon i{
        font-size: 20px;
    }
    .severse_times{
        width: 34%;
        color:#748094;
        margin-bottom: 0;
        padding: 0;
    }
}
@media screen and (min-width:1400px) {
    .max-header-top{
        max-width: 1400px;
        padding:10px 87.5px ;
    }
    .max-main-header{
        max-width: 1400px;
        margin: auto;
        padding: 20px 87.5px;
        box-sizing: border-box;
    }
    .max-web-sample-introduce{
        max-width: 1400px;
        margin: auto;
        padding: 20px 87.5px;
        box-sizing: border-box;
        display: flex;
    }   
    .main-contain{
        max-width: 1400px;
        margin: auto;
    }
    .max-web-sample-introduce{
        max-width: 1400px;
        margin: auto;
    }
    .max-contain{
        max-width: 1400px;
        margin: auto;
    }
    .max-secondary-fuction-intriduce{
        max-width: 1400px;
        margin: auto;
    }
    .max-additional-service{
        background-color: #f4f5f7;
    }
    .additional-service{
        max-width: 1400px;
        margin: auto;
        box-sizing: border-box;
    }
    .severse_all_list{
        display: block;
        padding: 0;
    }
    .max-world{
        max-width: 1400px;
        margin: auto;
    }
    .max-severse_all_lisl{
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 6.25%;
        box-sizing: border-box;
    }
    .case-introduce{
        max-width: 1400px;
        padding: 0 6.25%;
        margin: auto;
        box-sizing: border-box;
    }
    .footer_end{
        display: block;
        padding: 0;
    }
    .max-footer_end{
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 6.25%;
        box-sizing: border-box;
    }
}